
<div class="container fill vertical-center">
    <div class="row">
        <div class="container">
            <div class="row">
                <div ng-controller="dataCtrl">
                    <input id = "filereader" type="file" on-read-file="showContent()" ng-hide = "true" />
                    <div class="center-block text-center">
                        <button class="btn btn-theme btn-lg" id="btnLinked" ng-click="triggerFileReader()"><i class="fa fa-upload fa-2x"></i></button>
                    </div>
                    <br/>
                    <div class="alert alert-{{alert.class}}" ng-model="alert.message" ng-show="alert.message">
                        {{alert.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

